.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 350px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin-bottom: 3rem;
}
.card-image {
  height: 40%;
  width: 100%;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-body {
  padding-left: 1rem;
  padding-right: 1rem;
}
.card-meta {
  display: flex;
  margin-bottom: 1rem;
}
.card-meta p {
  margin-right: 1rem;
  color: #666;
}
.card-meta p:not(:last-child) {
  font-weight: bold;
}
.card-title {
  margin-bottom: 0.5rem;
}
.card-text {
  margin-bottom: 1rem;
}
.card-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}
.card-btn button {
  border: none;
  outline: none;
  background: #4285f4;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .card {
    width: 30%;
  }
}
