.container {
  margin-left: 8%;
  margin-right: 8%;
}
.featured {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.featured-post-main {
  display: flex;
}
.featured-post-main-image {
  width: 60%;
  height: 409px;
  padding-right: 4rem;
  border-radius: 10px;
  overflow: hidden;
}
.featured-post-main-image img {
  width: 100%;
  height: 409px;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
}
.featured-post-main-body {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.post-meta {
  display: flex;
  margin-bottom: 2rem;
}
.post-meta p {
  margin-right: 1rem;
  color: #666;
}
.post-meta p:not(:last-child) {
  font-weight: bold;
}
.post-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.post-text {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2.5px;
  margin-bottom: 2rem;
}
.post-btn {
  margin-top: 4rem;
}
.post-btn button {
  border: none;
  outline: none;
  background: #4285f4;
  padding: 1rem 2rem;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all ease-in 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.post-btn button:hover {
  transform: scale(1.05);
}
.featured-post-sub {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.featured-post-sub-div {
  width: 47%;
  display: flex;
  flex-direction: column;
}
.featured-post-sub-image {
  height: 50%;
  margin-bottom: 2rem;
}
.featured-post-sub-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.btn-div button {
  border: none;
  outline: none;
  background: #4285f4;
  padding: 1rem 2rem;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all ease-in 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
